import(ggplot2, gridExtra, data.table, methods)
importFrom(EMT, multinomial.test)
importFrom(mclust, mclustBIC, Mclust)
importFrom(Matching, ks.boot)
importFrom(stats, cor, loess, mad, na.omit, p.adjust, pchisq, quantile, sd)
importFrom(grDevices, dev.off, pdf)
importFrom(graphics, plot)
importFrom(utils, read.table)
export(makeDBList,pathVarOneSample,pathVarTwoSamplesCont,sigPway,plotPway,saveAsPDF,getGenes,diagnosticsVarPlots,pathVarTwoSamplesDisc,diagnosticsVarPlotsTwoSample,plotAllTwoSampleDistributionCounts)
exportClasses(geneDistributionSet, significantPathway ,geneDistributionSet2, significantPathway2, geneSet, geneDistributionSet3, significantPathway3)
